[submodule "rtl/fx68k"]
	path = rtl/fx68k
	url = https://github.com/JTFPGA/fx68k.git
[submodule "sim/imgui"]
	path = sim/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "sim/dis68k"]
	path = sim/dis68k
	url = git@github.com:wickerwaka/dis68k.git
[submodule "rtl/jt12"]
	path = rtl/jt12
	url = https://github.com/jotego/jt12.git
[submodule "sim/implot"]
	path = sim/implot
	url = https://github.com/epezent/implot.git
