[submodule "rtl/fx68k"]
	path = rtl/fx68k
	url = https://github.com/JTFPGA/fx68k.git
[submodule "sim/imgui"]
	path = sim/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "sim/dis68k"]
	path = sim/dis68k
	url = git@github.com:wickerwaka/dis68k.git
